{% extends 'baseAdmin.html' if 'is_admin' in session and session['is_admin'] == 1 else 'base.html' %}
{% block content %}
<h2>Agregar Plan</h2>
<div class="container mt-2 card p-3">
    <form action="{{ url_for('agregar_plan') }}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del Plan:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio:</label>
            <input type="number" class="form-control" id="precio" name="precio" step="0.01" required>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción:</label>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="refresco" class="form-label">Tiempo de Refresco (en minutos):</label>
            <input type="number" class="form-control" id="refresco" name="refresco" required>
        </div>
        <div class="mb-3">
            <label for="cantidad_compartidos" class="form-label">Cantidad de Usuarios Compartidos:</label>
            <input type="number" class="form-control" id="cantidad_compartidos" name="cantidad_compartidos" required>
        </div>
        <div class="mb-3">
            <label for="imagen" class="form-label">Imagen del Plan:</label>
            <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*" required>
        </div>
        <button type="submit" class="btn btn-success">Agregar Plan</button>
    </form>

    <!-- Mensaje de error -->
    {% if error_message %}
    <div class="alert alert-danger mt-3" role="alert">
        {{ error_message }}
    </div>
    {% endif %}
</div>
{% endblock %}
