{% extends 'baseAdmin.html' if 'is_admin' in session and session['is_admin'] == 1 else 'base.html' %}
{% block content %}

    <h2>Modificar Pedido</h2>
    <div class="container mt-2 card p-3">

        <form action="{{ url_for('modificar_pedido', id_pedido=id_pedido) }}" method="post">
            <div class="mb-3">
                <label for="titulo" class="form-label">Título del Pedido:</label>
                <input type="text" class="form-control" id="titulo" name="titulo" value="{{ pedido.titulo }}" required>
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required>{{ pedido.descripcion }}</textarea>
            </div>
            <div class="mb-3">
                <label for="items" class="form-label">Items:</label>
                <input type="text" class="form-control" id="items" name="items" value="{{ pedido.prod }}" required>
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Estado:</label>
                <select class="form-control" id="status" name="status">
                    <option value="No Entregado" {% if pedido.status == 'No Entregado' %}selected{% endif %}>No Entregado</option>
                    <option value="Entregado" {% if pedido.status == 'Entregado' %}selected{% endif %}>Entregado</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="userId" class="form-label">ID del Usuario:</label>
                <input type="text" class="form-control" id="userId" name="userId" value="{{ pedido.userId }}" required>
            </div>
            <div class="mb-3">
                <label for="createdAt" class="form-label">Fecha de Creación:</label>
                <input type="text" class="form-control" id="createdAt" name="createdAt" value="{{ pedido.createdAt }}" disabled>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>

        <form action="{{ url_for('eliminar_pedido', id_pedido=id_pedido) }}" method="post" class="mt-3">
            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este pedido?')">Eliminar Pedido</button>
        </form>
    </div>

{% endblock %}
